body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  background-color: rgba(188, 180, 180, 0.197);
}

a {
  text-decoration: none;
}

.card {
  min-width: 50vw;
  margin-bottom: 30px;
}

.doc-list-container {
  margin: 100px 0;
}

.info-container {
  display: flex;
  gap: 20px;
}

.card-body {
  border: none !important;
  display: flex;
}

.card-title {
  color: rgb(53, 183, 226);
  text-decoration: underline;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  height: 1.2em;
  white-space: nowrap;
}

.card-subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 180px;
  height: 1.2em;
  white-space: nowrap;
}

.profile-img {
  height: auto;
  width: clamp(100px, 15vw, 130px);
  max-width: 200px;
  object-fit: cover;
}

.btn {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #01a3d4cc;
}

.card-footer span {
  color: #639d11 !important;
  background-color: #a1e242;
  padding: 0 3px;
}

/*sdfsdfsdfsdfsdf*/

.rating {
  background-color: #a1e242;
  color: white;
  width: 80px;
  height: 80px;
}

.rating-nr {
  background-color: #a1e242;
  padding: 7px;
  color: white;
  border-radius: 5px;
}

.profile-img-fullview {
  margin-top: -30px;
  margin-left: 20px;
  border: 3px solid white;
  height: 140px !important;
  max-width: 130px;
  width: 100%;
  object-fit: cover;
}

.full-view-banner {
  height: 100px;
}

.time-title {
  font-size: 15px;
}

.time-format {
  font-size: 12px;
  color: rgba(44, 42, 42, 0.986);
  white-space: nowrap;
}

.open-state {
  font-size: 13px;
  color: #a1e242;
}

.green-font {
  color: #a1e242 !important;
}

.day-card {
  background-color: rgba(0, 0, 0, 0.089) !important;
  max-width: 130px;
  padding: 5px 20px;
  height: 100% !important;
}

.f-size-time-card {
  font-size: 10px !important;
  color: rgba(82, 78, 78, 0.986);
}

.time-format {
  font-size: 12px;
  color: rgba(44, 42, 42, 0.986);
}

.fa-address-card,
.fa-clock {
  color: #0d6efd;
}

.iframe {
  width: 50%;
}

.iframe iframe {
  max-height: 120px;
}

@media (max-width: 992px) {
  .card-body {
    flex-direction: column;
  }
  .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    max-width: 180px;
    height: 1.2em;
    white-space: nowrap;
  }
  .rating {
    width: 100%;
    height: 60px;
    margin: 10px 0;
  }
  .rating span {
    display: flex;
    flex-direction: row !important;
  }
  .time-cards {
    flex-direction: column;
    width: 100%;
  }
  .time-cards div {
    box-sizing: border-box !important;
    max-width: 100%;
  }
  .profile-info {
    flex-direction: column;
    align-items: unset !important;
  }
  .profile-info > * {
    margin: 10px;
  }
  .location {
    flex-direction: column;
  }
  .location .iframe {
    width: 100%;
  }
  .profile {
    flex-direction: column;
    align-items: unset !important;
  }
  .profile-img-name {
    flex-direction: column;
    align-items: unset !important;
  }
  .profile-img-fullview {
    margin: -20px auto;
    margin-top: -50px;
    margin-bottom: 10px;
  }
}
